:root {
  --brand-color: var(--ghost-accent-color, #f49200);
  --primary-text-color: #333;
  --secondary-text-color: #999;
  --white-color: #fff;
  --lighter-gray-color: #f6f6f6;
  --light-gray-color: #e6e6e6;
  --mid-gray-color: #ccc;
  --dark-gray-color: #444;
  --darker-gray-color: #1a1a1a;
  --black-color: #000;
  --green-color: #28a745;
  --orange-color: #ffc107;
  --red-color: #dc3545;
  --facebook-color: #3b5998;
  --twitter-color: #1da1f2;
  --linkedin-color: #0288d1;
  --animation-base: ease-in-out;
  --font-base: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif;
  --font-serif: Lora, Times, serif;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --navbar-height: 95px;
}

body {
  margin: 0;
  width: 100%;
  margin-right: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: var(--font-base);
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

h1 h2 h3 h4 h5 h6 {
  color: var(--brand-color);
}

a {
  color: var(--darker-gray-color);
  text-decoration: none;
  transition: color 0.1s var(--animation-base);
}

.container {
  align-items: center;
  background-color: white;
  width: 100%;
  flex: 1;
}

.canvas {
  max-width: 70rem;
  min-height: 200px;
  width: 100%;
  margin: auto;
}

.disclaimer {
  margin: 8px auto;
  max-width: 70rem;
  text-align: justify;
  text-align-last: left;
  align-items: center;
  width: 100%;
}

.results {
  min-height: 100vh;
  box-sizing: border-box;
}

.results-text {
  font-style: italic;
  text-align: center;
}

.placeholder-text {
  font-style: italic;
  text-align: center;
}

.tabs-container {
  margin: auto;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sui-result__label {
  color: "#7c7c72";
}

.sui-layout-header {
  padding-bottom: 0px;
  width: 75%;
  margin: auto;
}

@media only screen and (max-width: 1023px) {
  .sui-layout-header {
    width: 100%;
    padding: 32px 15px !important;
  }
}

.sui-layout-main-header__inner {
  gap: 10px;
}

.search-config {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sui-results-per-page__label {
  flex-shrink: 0;
}

@media only screen and (max-width: 1023px) {
  .material-icons {
    font-size: 16px;
  }
}

.sui-result + .sui-result {
  margin-top: 0px;
}

.sui-layout-sidebar.sui-layout-sidebar--toggled {
  z-index: 9999;
}

.testimonial-header {
  text-align: left;
  margin: 8px auto;
  max-width: 70rem;
  text-align: justify;
  text-align-last: left;
  align-items: center;
  width: 100%;
}

.testimonial-carousel {
  margin: 8px auto;
  max-width: 70rem;
  text-align: center;
  text-align-last: left;
  align-items: center;
  width: 100%;
}

.resources {
  align-items: center;
}

.faq {
  max-width: 70rem;
  width: 100%;
}

.App {
  max-width: 70rem;
  width: 100%;
  min-height: 200px;
  margin: auto;
}

.sui-search-box__submit {
  background: var(--brand-color) !important;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.apply-button {
  border: none;
  text-align: center;
  text-decoration: default;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 8px #666666;
  -moz-box-shadow: 2px 2px 8px #666666;
  box-shadow: 2px 2px 8px #666666;
  background-color: var(--brand-color);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
