#logo {
  height: 11rem;
}

.icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

footer {
  background: #181818;
  height: 100%;
  min-height: 300px;
  color: var(--light-gray-color);
}

#copyright-text {
  margin: 1 !important;
}
