.nav-bar {
  position: relative;
  flex: 1;
  width: 100%;
  height: 55px;

  background-color: white;
  box-shadow: 0px 1px 50px 1px #dddddd;
}
.arrow-icon {
  position: relative;
  top: 5%;
  padding-right: 10px;
}
.back-to-main-site {
  position: relative;
  left: 5%;
  top: 25%;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .logo {
    position: absolute;
    height: 60%;

    right: 30%;
    margin: auto auto;
  }
}
@media only screen and (min-width: 601px) {
  .logo {
    position: absolute;
    height: 60%;

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
  }
}
.bottom-layer {
  height: 200px;
  background-color: white;

  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #cccccc;

  -webkit-box-shadow: inset 0px 5px 40px 0px rgba(225, 225, 225, 1);
  -moz-box-shadow: inset 0px 5px 40px 0px rgba(225, 225, 225, 1);
  box-shadow: inset 0px 5px 40px 0px rgba(225, 225, 225, 1);

  text-align: center;
}
.mentorship-intro {
  text-align: justify;
  width: 50%;
  transform: translateX(50%);
}
