.nav {
  position: relative;
  flex: 1;
  width: 100%;
  height: 55px;
  background-color: white;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}
.nav-arrow-icon {
  position: relative;
  top: 5%;
  padding-right: 10px;
}
.nav-back-to-main-site {
  position: relative;
  left: 5%;
  top: 25%;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .nav-logo {
    position: absolute;
    height: 60%;

    right: 30%;
    margin: auto auto;
  }
}
@media only screen and (min-width: 601px) {
  .nav-logo {
    position: absolute;
    height: 60%;

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
  }
}
.search-bar {
  margin: 20px;
}
.header-bottom {
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}
.header-mentorship-logo {
  width: 80%;
}
.header-mentorship-intro {
  text-align: justify;
}
