.card {
  display: flex;
  flex: 1 0 160px;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 8px;
}
/* On smaller viewports, maximize space usage and try to allow 2 cards per row. */
@media only screen and (max-width: 600px) {
  .card {
    flex: 1 0 120px;
  }
}
.card-image-region {
  width: 100%;
  overflow: hidden;
  background-size: cover;
}
.card-image {
  width: 100%;
  margin: auto;
}
.card-descriptors {
  padding: 10px;
  vertical-align: middle;
}
.card-name {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.card-desc {
  font-size: 90%;
  text-align: center;
  padding-top: 5px;
}
.card-read-more {
  height: 40px;
  width: 100%;
  border: none;
  outline: 0;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.6;
}
.card-read-more-container {
  background-color: white;
  width: 80%;
  margin: auto;
  padding-bottom: 15px;
}
.card-read-more:hover {
  background-color: black;
  color: white;
  opacity: 1;
}
