.modal {
  flex: 1;
  width: 70%;
  padding: 3%;

  position: absolute;
  left: 50%;
  transform: translate(-50%, -30%);

  text-align: center;

  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 1.1s ease-in-out;
}
.close-cross {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: green;
}
@media only screen and (min-width: 601px) {
  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .left-half {
    width: 35%;
    float: left;
    padding-right: 5%;
    padding-bottom: 5%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ccc;
  }
  .right-half {
    width: 55%;
    float: right;
    padding-left: 5%;
    vertical-align: middle;
  }
  .bio {
    padding-top: 30px;
    margin-left: 10%;
    width: 80%;
    float: center;
    text-align: center justify;
  }
}
@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .left-half {
    float: top;
    padding-bottom: 30px;
  }
  .right-half {
    flex-direction: row;
    width: 100%;
    float: bottom;
    margin-top: 5%;
    padding-right: 50px;
    vertical-align: middle;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ccc;
    text-align: center justify;
    justify-content: center;
  }
  .bio {
    padding-top: 30px;
    margin-left: 10%;
    width: 80%;
    float: center;
    text-align: center justify;
  }
}
.image {
  height: 250px;
  margin: auto;
}
