.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-container {
  position: absolute;
  top: 12%;
  bottom: 12%;
  left: 10%;
  right: 10%;
  box-sizing: border-box;
  width: auto;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 9998;
  overflow: auto;
  text-align: center;
  background: white;
  border-radius: 10px;
  transition: 1.1s ease-in-out;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
}
@media only screen and (max-width: 600px) {
  /* Increase the modal size on smaller devices */
  .modal-container {
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
  }
}
.modal-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  border: none;
  background-color: transparent;
}
.modal-close:active {
  outline: none;
}
.modal-left {
  padding-top: 30px;
  padding-bottom: 30px;
}
.modal-bio {
  width: 80%;
  margin: 20px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: justify;
  font-size: 90%;
}
@media only screen and (max-width: 600px) {
  .modal-left {
    border-bottom: 1px solid #ccc;
  }
  .modal-bio {
    font-size: 100%; /* Larger font size on mobile */
  }
}
/*
 * Default to normal document positioning for modal (top to bottom) on smaller viewports
 * and only switch to flexbox on larger viewports.
 */
@media only screen and (min-width: 601px) {
  .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .modal-left {
    flex: 45 1 auto;
    width: 45%;
    height: 100%;
    border-right: 1px solid #ccc;
  }
  .modal-right {
    flex: 55 1 auto;
    width: 55%;
    height: 100%;
  }
}
.modal-image {
  height: 250px;
  margin: auto;
}
