.sui-result {
  display: flex;
}

.sui-result__body {
  display: flex;
  flex: 4;
  flex-direction: column;
}

.sui-result__image {
  flex: 1;
}

.sui-result__image img {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 80%;
}

.sui-result__title {
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  .sui-result {
    flex-direction: column;
  }
  .sui-result__title {
    text-align: center;
    width: 100%;
  }

  .sui-result__body {
    display: flex;
    flex-direction: column;
  }

  .sui-result__image {
    padding-left: 0px;
    padding-top: 0px;
    object-position: center;
    max-height: 160px;
  }

  .sui-result__image img {
    display: block;
    object-fit: cover;
    object-position: center;
    max-width: 160px;
    margin: 0 auto;
  }

  .sui-result__industries {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
  }
}

@media only screen and (min-width: 801px) {
  .sui-result__image {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    padding-top: 10px;
  }
}
