.container {
  height: 100%;
  background-color: white;
}

.canvas {
  max-width: 1056px;
  min-height: 200px;
  margin: auto;
}

.disclaimer {
  margin: 8px auto;
  max-width: 90ch;
  text-align: justify;
  text-align-last: left;
  padding-left: 16px;
  padding-right: 16px;
}

.results {
  min-height: 100vh;
}

.results-text {
  font-style: italic;
  text-align: center;
}

.placeholder-text {
  font-style: italic;
  text-align: center;
}

.tabs-container {
  margin: auto;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sui-result__label {
  color: "#7c7c72";
}

.search-config {
  display: flex;
  gap: 20px;
}

.sui-layout-sidebar.sui-layout-sidebar--toggled {
  z-index: 1101;
}
