.container {
  height: 100%;
  background-color: white;
}

.canvas {
  max-width: 1056px;
  min-height: 200px;
  margin: auto;
}

.disclaimer {
  margin: 8px auto;
  max-width: 90ch;
  text-align: center;
}

.results {
  min-height: 100vh;
}

.results-text {
  font-style: italic;
  text-align: center;
}

.placeholder-text {
  font-style: italic;
  text-align: center;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
