.profile-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Six cards side by side 
   Add some shadows to create a card effect and make edges rounded
   */
.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  flex: 1 1 16.6%;
  max-width: 160px;
  margin: 8px 8px;

  display: flex;
  flex-direction: row;
  flex-flow: column nowrap;
  justify-content: space-between;
}
