:root {
  --brand-color: var(--ghost-accent-color, #f49200);
  --primary-text-color: #333;
  --secondary-text-color: #999;
  --white-color: #fff;
  --lighter-gray-color: #f6f6f6;
  --light-gray-color: #e6e6e6;
  --mid-gray-color: #ccc;
  --dark-gray-color: #444;
  --darker-gray-color: #1a1a1a;
  --black-color: #000;
  --green-color: #28a745;
  --orange-color: #ffc107;
  --red-color: #dc3545;
  --facebook-color: #3b5998;
  --twitter-color: #1da1f2;
  --linkedin-color: #0288d1;
  --animation-base: ease-in-out;
  --font-base: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif;
  --font-serif: Lora, Times, serif;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --navbar-height: 95px;
}

body {
  margin: 0;
  width: 100%;
  margin-right: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: var(--font-base);
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  background-color: white;
  width: 100%;
  flex: 1;
}

.canvas {
  max-width: 70rem;
  min-height: 200px;
  width: 100%;
  margin: auto;
}

.disclaimer {
  margin: 8px auto;
  max-width: 70rem;
  text-align: justify;
  text-align-last: left;
  align-items: center;
  width: 100%;
}

.results {
  min-height: 100vh;
  box-sizing: border-box;
}

.results-text {
  font-style: italic;
  text-align: center;
}

.placeholder-text {
  font-style: italic;
  text-align: center;
}

.tabs-container {
  margin: auto;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sui-result__label {
  color: "#7c7c72";
}

.sui-layout-header {
  padding-bottom: 0px;
}

.sui-layout-main-header__inner {
  gap: 10px;
}

.search-config {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .material-icons {
    font-size: 16px;
  }
}

.sui-result + .sui-result {
  margin-top: 0px;
}

.sui-layout-sidebar.sui-layout-sidebar--toggled {
  z-index: 1101;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
}

.stats > div {
  text-align: center;
  flex: 1;
  padding: 10px;
  margin: 0 10px;
}

.stats h1 {
  margin-bottom: 5px;
  color: var(--brand-color);
}

.stats p {
  margin: 0;
}

@media only screen and (min-width: 1025px) {
  .stats {
    padding-left: 100px;
  }

  .stat-1,
  .stats-2 {
    display: flex;
  }

  .stat-1 > div,
  .stats-2 > div {
    padding: 0px 60px 0px 60px;
  }
}

.testimonial-header {
  text-align: left;
  margin: 8px auto;
  max-width: 70rem;
  text-align: justify;
  text-align-last: left;
  align-items: center;
  width: 100%;
}

.testimonial-carousel {
  margin: 8px auto;
  max-width: 70rem;
  text-align: center;
  text-align-last: left;
  align-items: center;
  width: 100%;
}

.resources {
  align-items: center;
}

.faq {
  max-width: 70rem;
  width: 100%;
}

.App {
  max-width: 70rem;
  width: 100%;
  min-height: 200px;
  margin: auto;
}

.sui-search-box__submit {
  background: var(--brand-color) !important;
  font-weight: bold;
}

.header {
  text-align: center;
  max-width: 70rem;
  position: inherit;
  text-align: justify;
  text-align-last: left;
  max-height: var(--navbar-height);
  align-items: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
