body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100%;
  background-color: white;
  /* MPT-33 : Only modified lines 11 and 12 */
  background-color: lightgrey;
  color: black;
}

.canvas {
  max-width: 1056px;
  min-height: 200px;
  margin: auto;
}

.disclaimer {
  margin: 8px auto;
  max-width: 90ch;
  text-align: justify;
  text-align-last: left;
  padding-left: 16px;
  padding-right: 16px;
}

.results {
  min-height: 100vh;
}

.results-text {
  font-style: italic;
  text-align: center;
}

.placeholder-text {
  font-style: italic;
  text-align: center;
}

.tabs-container {
  margin: auto;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sui-result__label {
  color: "#7c7c72";
}

.sui-layout-header {
  padding-bottom: 0px;
}

.sui-layout-main-header__inner {
  gap: 10px;
}

.search-config {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .material-icons {
    font-size: 16px;
  }
}

.sui-result + .sui-result {
  margin-top: 0px;
}

.sui-layout-sidebar.sui-layout-sidebar--toggled {
  z-index: 1101;
}
