.question {
  width: 100%;
  padding: 20px;
  overflow: auto;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #e5e7eb;
  background: #fff;
}

.answer {
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #e5e7eb;
  background: #fff;
  margin: 0;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.6s ease;
  padding: 0px 18px;
}

.active {
  max-height: 50em;
}
