.container {
  height: 100%;
  background-color: white;
}

.canvas {
  max-width: 1056px;
  min-height: 200px;
  margin: auto;
}

.disclaimer {
  margin: 8px auto;
  max-width: 90ch;
  text-align: justify;
  text-align-last: left;
  padding-left: 16px;
  padding-right: 16px;
}

.results {
  min-height: 100vh;
}

.results-text {
  font-style: italic;
  text-align: center;
}

.placeholder-text {
  font-style: italic;
  text-align: center;
}

.tabs-container {
  margin: auto;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sui-result__label {
  color: "#7c7c72";
}

.sui-layout-header {
  padding-bottom: 0px;
}

.sui-layout-main-header__inner {
  gap: 10px;
}

.search-config {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .material-icons {
    font-size: 16px;
  }
}

.sui-layout-sidebar.sui-layout-sidebar--toggled {
  z-index: 1101;
}
.nav {
  position: relative;
  flex: 1;
  width: 100%;
  height: 55px;
  background-color: white;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}

@media only screen and (min-width: 601px) {
  .nav-back-to-main-site {
    position: relative;
    top: 4%;
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) {
  .nav-logo {
    height: auto;
    position: relative;
    top: 20%;
    left: -4%;
    margin: auto;
    width: 16%;
  }

  .header-mentorship-logo {
    width: 80%;
  }

  .nav-back-to-main-site {
    display: none;
  }

  .header-mentorship-intro {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    font-size: 14px;
  }
}

@media only screen and (min-width: 601px) {
  .nav-logo {
    height: 60%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.header-bottom {
  min-height: 200px;
  background-color: white;
  position: relative;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #cccccc;

  text-align: center;
  max-width: 90ch;
  margin: 0 auto;
}

.header-mentorship-logo {
  width: 60%;
  padding-top: 40px;
  position: relative;
}

.header-mentorship-partners {
  width: 80%;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .header-mentorship-logo {
    width: 80%;
    position: relative;
    padding-top: 0px;
  }
}

.header-mentorship-intro {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

.toolbar-component {
  position: sticky;
}

.content-body {
  position: relative;
  padding-top: 55px;
}

html {
  scroll-padding-top: 60px;
}
.sui-result {
  display: flex;
}

.sui-result + .sui-result {
  margin-top: 0px;
}

.sui-result__body {
  display: flex;
  flex: 4;
  flex-direction: column;
}

.sui-result__image {
  flex: 1;
}

.sui-result__image img {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 80%;
}

.sui-result__title {
  font-weight: 600;
}

.sui-result__biography::after {
  content: " ";
}

.sui-result__details {
  padding: 0 24px;
}

@media only screen and (max-width: 800px) {
  .sui-result {
    flex-direction: column;
  }

  .sui-result__title {
    text-align: center;
    width: 100%;
  }

  .sui-result__body {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
  }

  .sui-result__image {
    padding-left: 0px;
    padding-top: 0px;
    object-position: center;
    height: 160px;
  }

  .sui-result__image img {
    display: block;
    object-fit: cover;
    object-position: center;
    max-width: 160px;
    height: 160px;
    margin: 0 auto;
  }

  .sui-result__industries {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
  }
}

@media only screen and (min-width: 801px) {
  .sui-result__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-top: 10px;
  }
}

.sui-results-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 24px;
}

.sui-result__modal {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 800px;
  max-height: 80%;
  overflow: scroll;
}
body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
