.nav {
  position: absolute;
  flex: 2;
  width: 100%;
  height: 55px;
  background-color: white;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}

@media only screen and (max-width: 600px) {
  .nav-logo {
    max-width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    display: block;
    width: 100%;
  }

  .header-mentorship-logo {
    max-width: 100%; /* Ensure the logo doesn't exceed its container */
    max-height: 1000px;
  }

  .nav-back-to-main-site {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .nav-logo {
    max-height: 60%;
    position: absolute;
    left: 3%;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .logo-and-intro-container {
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }

  .nav-back-to-main-site {
    position: relative;
    top: 4%;
    color: black;
    text-decoration: none;
  }
}

.header-bottom {
  min-height: 200px;
  background-color: white;
  position: relative;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  text-align: center;
  max-width: 70rem;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.header-mentorship-logo {
  max-width: 40rem; /* Ensure the logo doesn't exceed its container */
  padding-left: 0px;
  margin-left: 0px;
}

.header-mentorship-intro {
  text-align: justify;
  padding: 10px;
  align-items: center;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .header-mentorship-logo {
    width: 100%;
    position: relative;
    padding-top: 0px;
  }
}

.toolbar-component {
  position: inherit;
  display: flex;
  max-height: var(--navbar-height);
}

.content-body {
  position: relative;
  padding-top: 55px;
}

html {
  scroll-padding-top: 60px;
}
